  * { 
    margin:0.1cm;
    padding:0.4cm;
    }
body{
    background-color:#cac9cc;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px; 
    }
  h1{
    font-size:40pt;
    letter-spacing:10px;
    }
img { width: 110px;
    height: 110px;
    border-radius: 100%;
    float:right;
    }
  b {
      font-family:Constantia ;
    }
body{ margin:20px; 
     border-radius: 2%;
    background-color: white; }
    {
    font-size:larger;
    }
 h1 {
    color:coral
    }
 h2 { 
    color:orange;
    }
  li{
      list-style: none;    
      float:left;
    }
